*, *::before, *::after {
    font-family: helvetica, sans-serif;
}

main {
    text-align: center;
}

img {
    width: 100%;
}

.photos {
    display:  inline-block;
    width: 30%;
}

.text-under-photo {
    display:block;
    background-color: gold;
    padding: 0.5px;
    margin-bottom: 15px;
}

h1, footer {
    background-color: black;
    color: white;
    padding: 15px 0;
    text-align: center;
    margin: 0;
}

h2 {
    text-align: left;
    background-color: mediumseagreen;
    font-size: 1em;
    padding: 10px;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    margin: 5px auto 0;
    width: 30%;
    text-align: center;
}

nav a {
    background-color: lightgrey;
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration: none;
}

span {
    font-weight: bolder;
    border-bottom: 2px solid gold;
}

footer {
    font-size: 0.8em;
}
