*, *::before, *::after {
    font-family: helvetica, sans-serif;
}

.photos {
    display:  inline-block;
}

.text-under-photo {
    display:block;
    background-color: gold;
}

h1, footer {
    background-color: black;
    color: white;
    padding: 15px 0;
    text-align: center;
}

h2 {
    background-color: mediumseagreen;
}

.nav {
    background-color: grey;
    color: white;
}
